@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --strongCyan: hsl(172, 67%, 45%);
  --veryDarkCyan: hsl(183, 100%, 15%);
  --DarkGrayishCyan: hsl(186, 14%, 43%);
  --GrayishCyan: hsl(184, 14%, 56%);
  --lightGrayishCyan: hsl(185, 41%, 84%);
  --veryLightGrayishCyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  --formInputSize: 24px;
  --weights: 700;
  --fontPrimary: "Space Mono", monospace;
}

body {
  width: 100%;
  background-color: var(--lightGrayishCyan);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--fontPrimary);
}

.inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-basis: 50%; */
  flex: 1 1 0;
  gap: 2rem;
  background-color: var(--white);
  padding: 2rem;
  border-radius: 15px;
  margin: 0 auto;
}

.left-box {
    width: 100%;
    height: 100%;
}
.left-box h1 {
  font-size: 0.7rem;
  color: var(--DarkGrayishCyan);
}

.input-group {
    position: relative;
    margin-bottom: 1.2rem;
}

.input-group span, .people-img {
    position: absolute;
    top: 8px;
    left: 10px;
    /* width: 5px; */
}

.dollar-sign img, .people-img img {
    width: 0.6rem;
}

.input-group input, .people input {
    text-align: right;
    font-size: var(--formInputSize);
    font-family: var(--fontPrimary);
    /* padding: 2px; */
    width: 100%;
    border: 2px solid;
    border-color: var(--strongCyan);
    border-radius: 4px;
    color: var(--veryDarkCyan);
    font-weight: 700;
}

.input-group input, .people input :focus {
    border-color: var(--strongCyan);
}

.select, .people p {
    font-size: 0.7rem;
    color: var(--GrayishCyan);
}

.people {
    margin-top: 1.2rem;
}

.num-btn {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.num-btn .num {
    cursor: pointer;
    border: none;
    background-color: var(--veryDarkCyan);
    padding: 7px;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 4px;
    font-family: var(--fontPrimary);
    color: var(--white);
    transition: 0.3s ease-in;
}

.num:hover {
    background-color: var(--strongCyan);
}







/*right box styles*/
.right-box {
  background-color: var(--veryDarkCyan);
  padding: 1.5rem;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 12px;
}

.tip-amount {
    margin-bottom: 1.5rem;
}
.tip-amount,
.tip-total {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.tip-total {
    gap: 3.7rem;
}
.tip-text p span,
.total-desc p span {
  font-size: 0.6rem;
  color: var(--GrayishCyan);
}
.tip-text p,
.total-desc p {
  font-size: 0.6rem;
  color: var(--veryLightGrayishCyan);
}

.amount-fig p,
.total-fig p {
  font-size: 1.7rem;
  color: var(--strongCyan);
}

.reset-btn {
    margin-top: 6rem;
    width: 100%;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    font-size: 0.8rem;
    padding: 0.5rem 0;
    font-family: var(--fontPrimary);
    font-weight: 700;
    border-radius: 3px;
    background-color: var(--strongCyan);
    color: var(--veryDarkCyan);
    transition: 0.5s ease-in;
}

.reset-btn:hover {
    background-color: var(--lightGrayishCyan);
}